!!!
%html
  = partial "layouts/partials/head"
  %body{ class: body_class }
    = partial "views/components/header/header"
    %main{ role: "main" }
      = yield
    = partial "views/components/footer/footer"
    = javascript_include_tag "application"
    = javascript_include_tag "ga"
