---
body_class: "cv"
title: Ian Hatton | CV
---

.wrap
  = link_to content_tag(:span, "Back to Skills"), root_path("#skills"), class: "button button-primary"
  %article.cv
    %header
      %h1.bold-weight Ian Hatton
      %h2 Front-end Web Developer
    .body
      .introduction
        %p.epsilon A creative, forward-thinking Front-end Web Developer with over 4 years' agency experience. My strengths range from a thorough understanding of CSS, HTML and JavaScript through to a firm grasp of web standards, typography and graphic design principles.
        %p.epsilon I am in my element whether I am creating and building beautiful, bespoke designs, tailoring and using content management systems or working closely with clients to ensure that their ideas are realised to their full potential.
      .objective
        %h3.delta.bold-weight.accent Objective
        %p.zeta To put my skills into practice for a driven company and to add value across a range of projects. I seek to work in an environment which will inspire and encourage me to grow as a developer, whilst sharing and learning ideas alongside my peers.
      .experience
        .padding
          %h3.delta.bold-weight.accent Experience
          %ul
            %li
              %h4.epsilon
                %span.bold-weight
                  Morse Digital / 
                Front-end Web Developer
              %p April 2014 &ndash; present
              %p.zeta As part of the core Front-end team, my responsibilities include building, testing and maintaining the front-end code base, working alongside designers to advise on potential caveats, meeting with clients, making deployments and BLAH.
              %h5.zeta.bold-weight Key accomplishments:
              %p
                Built and maintained the front-end code base of the 
                = link_to "Better", "http://www.better.org.uk", class: "external-link", target: "_blank", rel: "noopener noreferrer"
                rebrand
              %p Launch Mitre
              %p Launch Copper
              %p Launch 
              %p
                Provided design advice and built the
                = link_to "Sony Pictures UK Tumblr blog", "http://sonypicturesuk.tumblr.com", class: "external-link", target: "_blank", rel: "noopener noreferrer"
              %p
                Provided design advice and built the
                = link_to "Tabasco Best of the Brunch Tumblr blog", "http://tabascobrunch.tumblr.com", class: "external-link", target: "_blank", rel: "noopener noreferrer"
              %p
                Wrote a number of
                = link_to "vanilla JavaScript modules", "https://www.npmjs.com/~ianhatton", class: "external-link", target: "_blank", rel: "noopener noreferrer"
                which are in use across many of Morse's websites.
            %li
              %h4.epsilon
                %span.bold-weight
                  Spinnaker London / 
                Front-end Web Developer
              %p April 2014 &ndash; present
              %p.zeta As part of the core Front-end team, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil totam ratione commodi magnam delectus, dolorum nulla fugit omnis non molestias incidunt facere. Voluptate, autem sint reiciendis a numquam nobis magni.
              %h5.eta.bold-weight Key accomplishments:
              %p Walkabout re-brand
              %p GLL B2B
              %p Baking Mad microdata recipes
            %li
              %h4.zeta
                %span.bold-weight
                  Spinnaker London / 
                Junior Front-end Web Developer
              %p January 2012 &ndash; July 2013
              %p.zeta I worked alongside Spinnaker's inspirational Creative and Technical team to deliver some fantastic results across a number of platforms. I contributed to all sorts of projects, from HTML emails to websites, microsites, Facebook campaigns and Rich Media advertising, and was introduced to technologies such as ERB, HAML, Sass and Less, as well as some introductory JavaScript through jQuery and CoffeeScript.
              %h5.eta.bold-weight Key accomplishments:
              %p Building and maintaining HTML email campaigns for Baking Mad, Bord Bia, IMEX, Patak's and Tabasco
              %p Banner swaps Baking Mad
      .education
        %h3.delta.bold-weight.accent Education
        %p 2008 &ndash; 2010
      .skills
        %h3.delta.bold-weight.accent Skills
        %ul
          %li Highly proficient in hand-coding and building within the browser.
          %li Excellent knowledge of CSS and (X)HTML.
          %li A firm understanding of layouts, typography and graphic design principles.
          %li Awareness of usability, accessibility and responsive design issues.
        %ul
          %li Experience with JavaScript, PHP, WordPress and other content management systems.
          %li Experience with MySQL and other relational databases.
          %li Knowledge of Adobe software, including Dreamweaver and Photoshop.
