---
body_class: "cv"
title: Ian Hatton | Front-end Web Developer | CV
---

.wrap
  = link_to content_tag(:span, "&lsaquo; Back to Skills"), root_path("#skills"), class: "button button-primary"
  %article.cv
    %header
      %h1.bold-weight{ "data-mobile-font-size": "delta" } Ian Hatton
      %h2.bold-weight{ "data-mobile-font-size": "delta" } Front-end Web Developer
      
    .body
      %section.introduction
        %p.epsilon{ "data-mobile-font-size" => "zeta" } A creative, forward-thinking Front-end Web Developer with over 4 years' agency experience. My strengths range from a thorough understanding of CSS and HTML, a proficiency in JavaScript and a firm grasp of web standards, typography and graphic design principles.
        %p.epsilon{ "data-mobile-font-size" => "zeta" } I am in my element whether I am hand-coding beautiful, bespoke designs, tailoring and using content management systems or working closely with clients to ensure that their ideas are realised to their full potential.

      %section.objective
        %h1.delta.bold-weight.accent Objective
        %p.zeta To put my skills into practice for a driven company and to add value across a range of projects. I seek to work in an environment which will inspire and encourage me to grow as a developer, whilst sharing and learning ideas alongside my peers.

      %section.experience
        .padding
          %h1.delta.bold-weight.accent Experience
          %ul
            %li
              %h2.zeta
                %span.bold-weight
                  Morse Digital / 
                Front-end Web Developer
              %p{ "data-mobile-font-size" => "zeta" } April 2014 &ndash; present
              %p{ "data-mobile-font-size" => "zeta" } As part of the core Front-end team, my responsibilities include building, testing and maintaining the front-end code base, developing prototypes, advising designers on potential build caveats, meeting with clients and deploying production-ready code.
              %h3.eta.bold-weight{ "data-mobile-font-size" => "zeta" } Key accomplishments:
              %p{ "data-mobile-font-size" => "zeta" }
                Provided design consultancy, build, maintenance and i18n internationalisation for the re-launch of GLL's 
                = link_to "Better", "http://www.better.org.uk", class: "external-link", target: "_blank", rel: "noopener noreferrer"
                website
              %p{ "data-mobile-font-size" => "zeta" }
                Designed and built the
                = link_to "London Sport Funding Search Tool", "http://funding.londonsport.org", class: "external-link", target: "_blank", rel: "noopener noreferrer"
                website
              %p{ "data-mobile-font-size" => "zeta" }
                Built and maintained GLL's
                = link_to "London Aquatics Centre", "http://www.londonaquaticscentre.org", class: "external-link", target: "_blank", rel: "noopener noreferrer"
                and
                = link_to "Copper Box Arena", "http://www.copperboxarena.org.uk", class: "external-link", target: "_blank", rel: "noopener noreferrer"
                websites, and later converted them into responsive builds
              %p{ "data-mobile-font-size" => "zeta" }
                Provided design consultancy and build for the
                = link_to "Sony Pictures UK", "http://sonypicturesuk.tumblr.com", class: "external-link", target: "_blank", rel: "noopener noreferrer"
                and
                = link_to "Tabasco Best of the Brunch", "http://tabascobrunch.tumblr.com", class: "external-link", target: "_blank", rel: "noopener noreferrer"
                Tumblr blogs
              %p{ "data-mobile-font-size" => "zeta" }
                Wrote a number of
                = link_to "vanilla JavaScript modules", "https://www.npmjs.com/~ianhatton", class: "external-link", target: "_blank", rel: "noopener noreferrer"
                which are in use across many of Morse's websites
            %li
              %h2.zeta
                %span.bold-weight
                  Spinnaker London / 
                Front-end Web Developer
              %p{ "data-mobile-font-size" => "zeta" } August 2013 &ndash; March 2014
              %h3.eta.bold-weight{ "data-mobile-font-size" => "zeta" } Key accomplishments:
              %p{ "data-mobile-font-size" => "zeta" }
                Provided design consultancy and build for the re-launch of the
                = link_to "Walkabout", "http://www.walkaboutbars.co.uk", class: "external-link", target: "_blank", rel: "noopener noreferrer"
                website
              %p{ "data-mobile-font-size" => "zeta" } Refactored Baking Mad's recipe section to include microdata for SEO
              %p{ "data-mobile-font-size" => "zeta" } Provided design consultancy and build for the re-launch of IMEX's email campaigns
            %li
              %h2.zeta
                %span.bold-weight
                  Spinnaker London / 
                Junior Front-end Web Developer
              %p{ "data-mobile-font-size" => "zeta" } January 2012 &ndash; July 2013
              %p{ "data-mobile-font-size" => "zeta" } I worked alongside Spinnaker's inspirational Creative and Technical team to deliver some fantastic results across a number of platforms, from HTML emails to websites, microsites, Facebook campaigns and Rich Media advertising.
              %h3.eta.bold-weight{ "data-mobile-font-size" => "zeta" } Key accomplishments:
              %p{ "data-mobile-font-size" => "zeta" } Built and maintained HTML email campaigns for Baking Mad, Bord Bia, IMEX, Patak's and Tabasco
              %p{ "data-mobile-font-size" => "zeta" }
                Provided regular maintenance on the 
                = link_to "Baking Mad", "http://www.bakingmad.com", class: "external-link", target: "_blank", rel: "noopener noreferrer"
                website
              %p{ "data-mobile-font-size" => "zeta" }
                Refactored the Less stylesheets on the
                = link_to "Blue Dragon", "https://bluedragon.co.uk", class: "external-link", target: "_blank", rel: "noopener noreferrer"
                website

      %section.skills
        %h1.delta.bold-weight.accent Skills
        %ul{ "data-mobile-font-size" => "zeta" }
          %li Excellent knowledge of CSS, semantic HTML and associated preprocessors/templating systems
          %li Proficient in vanilla JavaScript and jQuery, with a working knowledge of Angular 1 and React
          %li A firm understanding of layouts, typography and graphic design principles in application to web development
          %li Awareness of usability, accessibility, cross-browser testing and responsive design issues
        %ul{ "data-mobile-font-size" => "zeta" }
          %li Experience with Ruby on Rails
          %li Experience with MySQL and other relational databases
          %li Knowledge of Cucumber and Jasmine testing
          %li Knowledge of Adobe Photoshop

      %section.education
        %h1.delta.bold-weight.accent Education
        %ul
          %li
            %h2.zeta.bold-weight Open University
            %span{ "data-mobile-font-size" => "zeta" } 2008 &ndash; 2010
            %br
            %span{ "data-mobile-font-size" => "zeta" }
              Certificate in Web Applications Development

      %footer
        %h1.delta.bold-weight.accent Download
        %p{ "data-mobile-font-size" => "zeta" }
          My CV is also available for download as a
          = succeed "." do
            = link_to "Word document", "/assets/CV.docx"
