---
body_class: "home"
title: Ian Hatton
---

.wrap
  %section.site-introduction#site-introduction
    %h1.bold-weight
      Ian Hatton
      %span is a Front-end Developer working in London.
    %p.delta
      Take a look at his
      = succeed "," do
        = link_to "skills", "#skills"
      view some of his
      = succeed "," do
        = link_to "latest work", "#latest-work"
      or read a little bit more
      = link_to "about", "#about"
      the person behind this amazing introduction.

    %p.delta I'm going to stop talking in the third person now.

    %p.delta
      %span.bold-weight tl;dr:
      I've done lots of really cool front-end work for clients like:
    %ul.clients
      %li.center
        .padding
          = image_tag "clients/gll.png", alt: "GLL"
      %li.center
        .padding
          = image_tag "clients/sony.png", alt: "Sony Pictures UK"
      %li.center
        .padding
          = image_tag "clients/tabasco.png", alt: "Tabasco"
      %li.center
        .padding
          = image_tag "clients/london_sport.png", alt: "London Sport"
      %li.center
        .padding
          = image_tag "clients/imex.png", alt: "IMEX"
      %li.center
        .padding
          = image_tag "clients/pataks.png", alt: "Patak's"
      %li.center
        .padding
          = image_tag "clients/canon.png", alt: "Canon"
      %li.center
        .padding
          = image_tag "clients/bord_bia.png", alt: "Bord Bia"
      %li.center
        .padding
          = image_tag "clients/cft.png", alt: "Children's Food Trust"
      %li.center
        .padding
          = image_tag "clients/blue_dragon.png", alt: "Blue Dragon"
      %li.center
        .padding
          = image_tag "clients/tesco.png", alt: "Tesco"
      %li.center
        .padding
          = image_tag "clients/walkabout.png", alt: "Walkabout"

%section.skills.panel#skills
  .wrap
    %header.section-header
      .padding
        %h1.beta.extra-bold-weight Skills
        %p.epsilon I'm a creative, forward-thinking Front-end Developer with over 5 years' professional experience. I use clean, modular stylesheets, semantic markup and JavaScript to turn beautiful designs into functional, intuitive builds.
        %p.epsilon Click through the tabs below to read a little about my core skill sets and approach to web development.
  .tabbed-content
    %ul.tabbed-content-nav{ role: "tablist" }
      %li{ role: "presentation" }
        = link_to "CSS", "#", role: "tab", class: "css"
      %li{ role: "presentation" }
        = link_to "HTML", "#", role: "tab", class: "html"
      %li{ role: "presentation" }
        = link_to "JavaScript", "#", role: "tab", class: "javascript"
      %li{ role: "presentation" }
        = link_to "Other stuff", "#", role: "tab", class: "other"
    .tabbed-content-body.clearfix
      %article.css.tabbed-content-tab
        .padding
          %h1.gamma.extra-bold-weight CSS
          .column-one
            %p.epsilon The art of presenting beautiful content for the web is something that still excites me to this day.
            %p CSS is the area of my job that always makes the biggest initial impact and it's for this reason that I take great care in making sure that my responsive builds look fantastic and feel intuitive&mdash;no matter what platform they're being viewed on.
            %p In my opinion, what's going on "under the hood" is just as important as what's presented in the browser, which is why I'm quite meticulous when it comes to organising my work and being as modular as possible. Spaghetti is good, but CSS spaghetti tastes bad.
            %p I have made great relationships with the designers I have worked with in the past and I'm always happy to provide guidance and constructive criticism where it's due in order to deliver a stunning* final product.
            %p.eta *exact level of stunningness dependent on design.
          .column-two
            %h2.epsilon.bold-weight.accent I have a knowledge of
            %ul
              %li CSS
              %li CSS3
              %li Sass
              %li Less
              %li Responsive web design
              %li Modular CSS
            %ul
              %li Susy
              %li Bourbon
              %li Compass
              %li Bootstrap
              %li Font Awesome
      %article.html.tabbed-content-tab
        .padding
          %h1.gamma.extra-bold-weight HTML
          .column-one
            %blockquote
              %p.epsilon
                &ldquo;We build too many walls and not enough
                %del bridges
                websites.&rdquo;
              %cite.epsilon
                &mdash;
                %del Isaac Newton
                Ian Hatton
            %p Believe it or not, the HTML behind your website is as important as the overall look and feel. I build using meaningful, descriptive markup, not only for search engine optimisation but also to provide assistive technologies with vital information for their users.
            %p.theta It also makes me feel like a boss.
            %p I have worked on a large number of HTML5-based websites, each with varying requirements for  
            %p I've also worked on a large number of table-based HTML emails, both responsive and non-responsive.
          .column-two
            %h2.epsilon.bold-weight.accent I have a knowledge of
            %ul
              %li HTML
              %li HTML5
              %li HAML
            %ul
              %li ERB
              %li Table-based emails
              %li Microdata
      %article.javascript.tabbed-content-tab
        .padding
          %h1.gamma.extra-bold-weight JavaScript
          .column-one
            %p.epsilon JavaScript is, without doubt, the most challenging and, at times, frustrating part of my job. Having said that, I also find it the most rewarding.
            %p For me, it's an area of constant learning and improvement, and I've found that the way I write my code has changed greatly over the years. There's nothing like that moment where the penny drops and something turns from a fuzzy understanding into solid knowledge.
            %p I have contributed to a number of projects, each utilising different setups, so I have been exposed to several of the front-running libraries. With the current state of JavaScript development and the "flavour of the month" scenario that seems so prevalent, I'm of the opinion that there's no better time to hone my vanilla JavaScript skills, and so it's in this area that I am focusing my efforts.
            %p
              I have written a number of
              = link_to "vanilla JavaScript modules", "https://www.npmjs.com/~ianhatton"
              which are in use across several of my recent projects, and I'm looking forward to expanding my knowledge with each new project I work on.

          .column-two
            %h2.epsilon.bold-weight.accent I have a knowledge of
            %ul
              %li JavaScript
              %li ES6
              %li jQuery
              %li CoffeeScript
              %li React
              %li AngularJS 1
            %ul
              %li Node.js
              %li Lodash
              %li Bower
              %li Gulp
              %li Jasmine
              %li ESLint
              %li Browserify
      %article.other.tabbed-content-tab
        .padding
          %h1.gamma.extra-bold-weight Other stuff
          .column-one
            %p.epsilon Here's all the other stuff that I've learned over the years
            %p Working in digital agencies has exposed me to a number
          .column-two
            %h2.epsilon.bold-weight.accent I have a knowledge of
            %ul
              %li Usability
              %li Accessibility
              %li WAI-ARIA
              %li Cross-browser testing
              %li Progressive enhancement
            %ul
              %li Ruby on Rails (views and controllers)
              %li WordPress
              %li Shopify
              %li Middleman
              %li GitHub
  %footer.section-footer
    = link_to content_tag(:span, "View my CV"), "#", class: "button button-primary delta"

.wrap
  %section.latest-work.panel#latest-work
    %header.section-header
      .padding
        %h1.beta.extra-bold-weight Latest work
        %p.epsilon My work includes consumer-facing websites, content management systems, emails and rich media advertising.
        %p.epsilon Below is a selection of recently completed projects. Click the buttons to read the accompanying case study for each piece.
    %article.featured
      .column-one
        = image_tag "https://www.fillmurray.com/600/300"
      .column-two
        %header
          %h1.gamma.bold-weight.accent Better
          = link_to content_tag(:span, "Visit live site"), "http://www.better.org.uk", class: "external-link", target: "_blank", rel: "noopener noreferrer"
        %p Better 
        %p We were tasked with the using Ruby on Rails, React and vanilla JavaScript.
        %p I was a number of vanilla JavaScript modules
        = link_to content_tag(:span, "Read on"), "#", class: "button button-primary"

    .group
      %article.regular
        .column-one
          = image_tag "https://www.fillmurray.com/700/300"
        .column-two
          %header
            %h1.epsilon.bold-weight.accent London Sport Funding Search Tool
            = link_to "Visit live site", "http://www.financialinclusioncommission.org.uk", class: "eta external-link", target: "_blank"
          %p.eta London Sport required a turn their into an interactive search tool, complete with .
          = link_to content_tag(:span, "Read on"), "#", class: "button button-primary"
      %article.regular
        .column-one
          = image_tag "https://www.fillmurray.com/800/300"
        .column-two
          %header
            %h1.epsilon.bold-weight.accent Portland Resourcing
            = link_to "Visit live site", "http://www.portlandresourcing.com", class: "eta external-link", target: "_blank"
          %p.eta Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam placeat porro dolorum eos odit. Explicabo voluptatum eveniet repellat officiis, quibusdam, quod facilis rerum reiciendis provident perferendis rem itaque, expedita qui.
          = link_to content_tag(:span, "Read on"), "#", class: "button button-primary"
    %footer.section-footer
      = link_to content_tag(:span, "More work"), "#", class: "button button-primary delta"

  %section.about.panel#about
    %header.section-header
      .padding
        %h1.beta.extra-bold-weight About me
        %p.epsilon I was going to write but then decided to give you snippets of information. Ready?
        %p.epsilon I enjoy gardening. I like cake. I love curry. I get Steely Dan withdrawal if I go longer than 3 days without hearing them. Team Tyrion.

    %section.last-fm#last-fm
      %h1.epsilon.bold-weight.accent I've been listening to these beauties:

    %section.goodreads
      %h1.epsilon.bold-weight.accent And reading this:
