---
body_class: "home"
title: Ian Hatton | Home
---

.wrap
  %section.site-introduction#site-introduction
    %h1.bold-weight
      Ian Hatton
      %span is a Front-end Developer working in London.
    %p.delta
      Take a look at his
      = succeed "," do
        = link_to "skills", "#skills"
      view some of his
      = succeed "," do
        = link_to "latest work", "#latest-work"
      or read a little bit more
      = link_to "about", "#about"
      the person behind this amazing introduction.

    %p.delta I'm going to stop talking in the third person now.

    %p.delta
      %span.bold-weight tl;dr:
      I've done lots of really cool front-end work for clients like:
    %ul.clients
      %li.center
        .padding
          = image_tag "clients/gll.png", alt: "GLL"
      %li.center
        .padding
          = image_tag "clients/sony.png", alt: "Sony Pictures UK"
      %li.center
        .padding
          = image_tag "clients/tabasco.png", alt: "Tabasco"
      %li.center
        .padding
          = image_tag "clients/london_sport.png", alt: "London Sport"
      %li.center
        .padding
          = image_tag "clients/imex.png", alt: "IMEX"
      %li.center
        .padding
          = image_tag "clients/pataks.png", alt: "Patak's"
      %li.center
        .padding
          = image_tag "clients/canon.png", alt: "Canon"
      %li.center
        .padding
          = image_tag "clients/bord_bia.png", alt: "Bord Bia"
      %li.center
        .padding
          = image_tag "clients/cft.png", alt: "Children's Food Trust"
      %li.center
        .padding
          = image_tag "clients/blue_dragon.png", alt: "Blue Dragon"
      %li.center
        .padding
          = image_tag "clients/tesco.png", alt: "Tesco"
      %li.center
        .padding
          = image_tag "clients/walkabout.png", alt: "Walkabout"

%section.skills.panel#skills
  .wrap
    %header.section-header
      .padding
        %h1.beta.extra-bold-weight Skills
        %p.epsilon I'm a creative, forward-thinking Front-end Developer with over 4 years' professional experience. I use clean, modular stylesheets, semantic markup and JavaScript to turn beautiful designs into functional, intuitive builds.
        %p.epsilon Click through the tabs below to read a little about my core skill sets and approach to web development.
  .tabbed-content
    %ul.tabbed-content-nav{ role: "tablist" }
      %li{ role: "presentation" }
        = link_to "CSS", "#", role: "tab", class: "css"
      %li{ role: "presentation" }
        = link_to "HTML", "#", role: "tab", class: "html"
      %li{ role: "presentation" }
        = link_to "JavaScript", "#", role: "tab", class: "javascript"
      %li{ role: "presentation" }
        = link_to "Bits and bobs", "#", role: "tab", class: "other"
    .tabbed-content-body.clearfix
      %article.css.tabbed-content-tab
        .padding
          %h1.gamma.extra-bold-weight CSS
          .column-one
            %p.epsilon The art of presenting beautiful content for the web is something that still excites me to this day.
            %p In my opinion CSS always makes the biggest initial impact on user experience, and it's for this reason that I take great care in making sure that my responsive builds look fantastic and feel intuitive&mdash;no matter what platform they're being viewed on.
            %p What's going on "under the hood" is just as important as what's presented in the browser, which is why I'm meticulous when it comes to organising my work and being as modular as possible. Spaghetti is good, but CSS spaghetti tastes bad.
            %p I have built great relationships with the designers I have worked with in the past and I'm always happy to provide guidance and constructive criticism where it's due in order to deliver a stunning* final product.
            %p.eta *exact level of stunningness dependent on design.
          .column-two
            %h2.epsilon.bold-weight.accent I have a knowledge of
            %ul
              %li CSS
              %li CSS3
              %li Sass
              %li Less
              %li PostCSS
              %li Responsive web design
              %li Modular CSS
            %ul
              %li Susy
              %li Bourbon
              %li Compass
              %li Bootstrap
              %li Font Awesome
      %article.html.tabbed-content-tab
        .padding
          %h1.gamma.extra-bold-weight HTML
          .column-one
            %blockquote
              %p.epsilon
                &ldquo;We build too many walls and not enough
                %del bridges
                websites.&rdquo;
              %cite.epsilon
                &mdash;
                %del Isaac Newton
                Ian Hatton
            %p Believe it or not, the HTML behind your website is just as important as what's presented to the user in the browser. I build using meaningful, descriptive markup, not only to benefit search engine optimisation but also to provide assistive technologies with vital information for their users.
            %p I have been lucky enough to work on a wide range of HTML5-based websites across sectors including finance, fitness, food, film and fashion. That's a lot of Fs.
            %p I've also worked on a large number of table-based HTML email campaigns, both responsive and non-responsive and, with the aid of copious amounts of tea, crying and swearing, have always ensured that they are cross-client compatible down to pixel precision (hello Outlook).
          .column-two
            %h2.epsilon.bold-weight.accent I have a knowledge of
            %ul
              %li HTML
              %li HTML5
              %li HAML
            %ul
              %li ERB
              %li Table-based emails
              %li Microdata
      %article.javascript.tabbed-content-tab
        .padding
          %h1.gamma.extra-bold-weight JavaScript
          .column-one
            %p.epsilon JavaScript is, without doubt, the most challenging and, at times, frustrating part of my job. Having said that, I also find it the most rewarding.
            %p For me, it's an area of constant learning and improvement, and I've found that the way I write my code has changed greatly over the years. There's nothing like that moment where the penny drops and something turns from a fuzzy understanding into solid knowledge.
            %p I have contributed to a number of projects, each utilising different setups, so I have been exposed to several of the front-running libraries. With the current state of the JavaScript ecosystem and the "flavour of the month" scenario that seems so prevalent, I'm of the opinion that there's no better time to hone my vanilla JavaScript skills, and so it's in this area that I am focusing my efforts.
            %p
              I have written a number of
              = link_to "vanilla JavaScript modules", "https://www.npmjs.com/~ianhatton", class: "external-link", target: "_blank", rel: "noopener noreferrer"
              which are in use across several of my recent projects, and I'm looking forward to expanding my knowledge with each new project I work on.

          .column-two
            %h2.epsilon.bold-weight.accent I have a knowledge of
            %ul
              %li JavaScript
              %li ES6
              %li jQuery
              %li CoffeeScript
              %li React
              %li AngularJS 1
            %ul
              %li Node.js
              %li Lodash
              %li Bower
              %li Gulp
              %li Jasmine
              %li ESLint
              %li Browserify
      %article.other.tabbed-content-tab
        .padding
          %h1.gamma.extra-bold-weight Bits and bobs
          .column-one
            %p.epsilon Web development fundamentals, platforms and anything else that didn't quite fit into the other categories.
            %p Working in digital agencies has exposed me to a myriad of real-world requirements for web development projects, including usability, accessibility and performance.
            %p The majority of my work has been built on top of Ruby on Rails, which has provided my understanding of MVC architecture and bespoke CMSs, but I've also had experience with WordPress, Tumblr and Shopify, where I've either created themes from scratch or modified existing ones to meet the client's specification.
            %p
              Over the years, I've factored in browser support all the way down to
              = succeed "," do
                = link_to "IE6", "http://www.saveie6.com", class: "external-link", target: "_blank", rel: "noopener noreferrer"
              so I'm well-versed to the joys of cross-browser testing, compatibility issues and workarounds.
            %p
              I also
              %span.bold-weight rocked
              GeoCities back in the day, but we don't talk about that, do we?
          .column-two
            %h2.epsilon.bold-weight.accent I have a knowledge of
            %ul
              %li Usability
              %li Accessibility
              %li WAI-ARIA
              %li Cross-browser testing
              %li Progressive enhancement
              %li Ruby on Rails (views and controllers)
              %li GitHub
            %ul
              %li Adobe Creative Suite
              %li WordPress
              %li Shopify
              %li Tumblr
              %li Mailchimp
              %li dotMailer
              %li Maxemail
              %li Middleman
  %footer.section-footer
    = link_to content_tag(:span, "View my CV"), "#", class: "button button-primary delta"

%section.latest-work.panel#latest-work
  .wrap
    %header.section-header
      .padding
        %h1.beta.extra-bold-weight Latest work
        %p.epsilon My body of work includes consumer-facing websites, content management systems, emails and rich media advertising.
        -# %p.epsilon Below is a selection of recently completed projects. Click the buttons to read the accompanying case study for each piece.
        %p.epsilon Below is a selection of recently completed projects. Full case studies coming soon.
    %article.featured
      .column-one
        = image_tag "https://www.fillmurray.com/600/300"
      .column-two
        %header
          %h1.gamma.bold-weight.accent Better
          = link_to content_tag(:span, "better.org.uk"), "http://www.better.org.uk", class: "external-link", target: "_blank", rel: "noopener noreferrer"
        %p We were tasked with the using Ruby on Rails, React and vanilla JavaScript.
        %p I've worked with GLL for the last 4 years. The previous iteration of their Better Leisure website was the first major project I cut my teeth on as a Junior Developer.
        %p I completed the vast majority of the front-end development of the site, including all of the vanilla JavaScript functionality, some React work 
        %p.bold-weight Full case study coming soon.
        -# = link_to content_tag(:span, "Read on"), "/better", class: "button button-primary"

    .group
      %article.regular
        .column-one
          = image_tag "https://www.fillmurray.com/700/300"
        .column-two
          %header
            %h1.epsilon.bold-weight.accent{ "data-mobile-font-size" => "gamma" } London Sport Funding Search Tool
            = link_to "funding.londonsport.org", "http://funding.londonsport.org", class: "eta external-link", target: "_blank"
          %p.eta{ "data-mobile-font-size" => "zeta" } London Sport approached us with the brief of turning their internally circulated list of grant-funded projects into a fully-responsive, interactive search tool. As the sole Front-end Developer on the project, I worked closely with the back-end team and the client to deliver their requirements.
          %p.eta.bold-weight Full case study coming soon.
          -# = link_to content_tag(:span, "Read on"), "#", class: "button button-primary"
      %article.regular
        .column-one
          = image_tag "https://www.fillmurray.com/800/300"
        .column-two
          %header
            %h1.epsilon.bold-weight.accent{ "data-mobile-font-size" => "gamma" } Portland Resourcing
            = link_to "portlandresourcing.com", "http://www.portlandresourcing.com", class: "eta external-link", target: "_blank"
          %p.eta{ "data-mobile-font-size" => "zeta" } Portland Resourcing approached the development team to take over the maintenance of their existing site. They wanted to keep the look and feel, whilst improving performance. We did this by stripping away layers of bloat from things like unnecessary jQuery, poorly written views and mismanaged stylesheets.
          %p.eta.bold-weight Full case study coming soon.
          -# = link_to content_tag(:span, "Read on"), "/portland-resourcing", class: "button button-primary"
  %footer.section-footer
    = link_to content_tag(:span, "More work"), "#", class: "button button-primary delta"

.wrap
  %section.about.panel#about
    %header.section-header
      .padding
        %h1.beta.extra-bold-weight About me
        %p.epsilon Wikipedia have rejected my submission 9 times now, so I've decided to house it here instead. Your loss, Jimmy Wales.

    %section.bio
      .column-one
        = image_tag "me.png", alt: "Ian Hatton", class: "curve"
        %p
          I live just outside of London in the wonderful market town of Hitchin, with my loving fiance&eacute; and two 
          %del annoying
          adoring cats.
        %p When I'm not coding or thinking about design, I'm likely to be found in the garden doing my best to channel my inner Monty Don, in the kitchen making large vats of roasted curry powder, or tinkering with open tunings and blues & folk fingerpicking on my parlour acoustic guitar.
        %p I'm also a big fan of sitting down. And sleeping. Sleeping is the best.

    %section.last-fm#last-fm
      %h1.epsilon.bold-weight.accent I've been listening to these beauties:

    %section.goodreads
      %h1.epsilon.bold-weight.accent And reading this:
