---
body_class: "home"
title: Ian Hatton
---

%section.site-introduction
  %h1.bold-weight
    Ian Hatton
    %span is a Front-end Developer based in sunny Hitchin.
  %p.delta
    Take a look at his
    = succeed "," do
      = link_to "skills", "#"
    view some of his
    = succeed "," do
      = link_to "latest work", "#"
    or just read a bit more
    = link_to "about", "#"
    the person behind this amazing introduction.

%section.skills.panel
  %header.section-header
    .padding
      %h1.beta.extra-bold-weight Skills
      %p.epsilon I'm a Front-end Developer with a keen eye for design, a soft spot for semantics and a desire to continually improve my abilities.
      %p.epsilon Click on the panels below to read a little about my core skill sets and approach to web development.
  .collapsible-content.flexbox-container.clearfix
    %article.css.collapsible-content-item
      .collapsible-content-toggle
      .padding
        %h1.gamma.extra-bold-weight CSS
        .collapsible-content-body
          .column-one
            %p.epsilon The art of presenting beautiful content for the web is something which still excites me to this day.
            %p I find CSS to be both the most annoying . It's the part of my job which people are likely to / I'm a big fan of type-driven design and minimal
          .column-two
            %h2.epsilon I have a knowledge of
            %ul
              %li CSS
              %li CSS3
              %li Sass
              %li Less
          .column-three
            %h2.epsilon Toolkit
            %ul
              %li Susy
              %li Bourbon
              %li Compass
              %li Font Awesome
              %li Bootstrap
    %article.html.collapsible-content-item
      .collapsible-content-toggle
      .padding
        %h1.gamma.extra-bold-weight HTML
        .collapsible-content-body
          .column-one
            %p.epsilon I'm a sucker for semantics.
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab odit amet reiciendis, excepturi impedit nihil id. Delectus esse quod quo facilis corporis blanditiis mollitia, quidem laboriosam odio consequuntur quae vero.
          .column-two
            %h2.epsilon I have a knowledge of
            %ul
              %li HTML
              %li HTML5
              %li HAML
              %li ERB
          .column-three
            %h2.epsilon Toolkit
            %ul
              %li Susy
              %li Bourbon
              %li Compass
              %li Font Awesome
              %li Bootstrap
    %article.javascript.collapsible-content-item
      .collapsible-content-toggle
      .padding
        %h1.gamma.extra-bold-weight JavaScript
        .collapsible-content-body
          .column-one
            %p.epsilon Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, doloribus reprehenderit.
            %p JavaScript is, without doubt, the most challenging part of . Having said that, I also find it's the most rewarding.
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab odit amet reiciendis, excepturi impedit nihil id. Delectus esse quod quo facilis corporis blanditiis mollitia, quidem laboriosam odio consequuntur quae vero.
          .column-two
            %h2.epsilon I have a knowledge of
            %ul
              %li JavaScript
              %li jQuery
              %li React
              %li AngularJS 1
              %li CoffeeScript
          .column-three
            %h2.epsilon Toolkit
            %ul
              %li Node.js
              %li Lodash
              %li Bower
              %li Gulp
              %li Karma
              %li Jasmine
    %article.web-standards.collapsible-content-item
      .collapsible-content-toggle
      .padding
        %h1.gamma.extra-bold-weight Web standards
        .collapsible-content-body
          .column-one
            %p.epsilon Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, doloribus reprehenderit.
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab odit amet reiciendis, excepturi impedit nihil id. Delectus esse quod quo facilis corporis blanditiis mollitia, quidem laboriosam odio consequuntur quae vero.
          .column-two
            %h2.epsilon I have a knowledge of
            %ul
              %li Semantic markup
              %li Usability
              %li Accessibility
              %li ERB
          .column-three
            %h2.epsilon Toolkit
            %ul
              %li ARIA
  %footer.section-footer
    = link_to content_tag(:span, "More skills"), "#", class: "button button-primary delta"

%section.latest-work.panel
  %header.section-header
    .padding
      %h1.beta.extra-bold-weight Latest work
      %p.epsilon My work includes consumer-facing websites, content management systems, emails and rich media advertising.
      %p.epsilon Below is a selection of recently completed projects. Click the buttons to read the accompanying case study for each piece.
  %article.featured
    .column-one
      = image_tag "https://www.fillmurray.com/600/300"
    .column-two
      %header
        %h1.gamma Better
        = link_to "Visit live site", "http://www.better.org.uk", class: "external-link", target: "_blank"
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam placeat porro dolorum eos odit. Explicabo voluptatum eveniet repellat officiis, quibusdam, quod facilis rerum reiciendis provident perferendis rem itaque, expedita qui.
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe magni aperiam dolor beatae consequuntur officiis culpa iure, aspernatur cum rem.
      = link_to content_tag(:span, "Read on"), "#", class: "button button-primary"

  .group
    %article.regular
      .column-one
        = image_tag "https://www.fillmurray.com/700/300"
      .column-two
        %header
          %h1.epsilon Financial Inclusion Commission
          = link_to "Visit live site", "http://www.financialinclusioncommission.org.uk", class: "eta external-link", target: "_blank"
        %p.eta Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam placeat porro dolorum eos odit. Explicabo voluptatum eveniet repellat officiis, quibusdam, quod facilis rerum reiciendis provident perferendis rem itaque, expedita qui.
        = link_to content_tag(:span, "Read on"), "#", class: "button button-primary"
    %article.regular
      .column-one
        = image_tag "https://www.fillmurray.com/800/300"
      .column-two
        %header
          %h1.epsilon Portland Resourcing
          = link_to "Visit live site", "http://www.portlandresourcing.com", class: "eta external-link", target: "_blank"
        %p.eta Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam placeat porro dolorum eos odit. Explicabo voluptatum eveniet repellat officiis, quibusdam, quod facilis rerum reiciendis provident perferendis rem itaque, expedita qui.
        = link_to content_tag(:span, "Read on"), "#", class: "button button-primary"
  %footer.section-footer
    = link_to content_tag(:span, "More work"), "#", class: "button button-primary delta"

%section.about.panel
  %header.section-header
    .padding
      %h1.beta.extra-bold-weight About me
      %p.epsilon I'm a man of simple pleasures.

  %section.last-fm#last-fm
    %h1.delta I've been listening to these beauties:

  %section.goodreads
    %h1.delta And reading this:

  %footer.section-footer
    = link_to content_tag(:span, "More about me"), "#", class: "button button-primary delta"

